body{
  background-color: darkgoldenrod;
  margin: 0;
}
ul {
  background-color:rgb(42, 103, 129) ;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
 position: sticky;
  top: 0;
}
  li {
    float: left;
    border-radius: 2vw;
  }
  
  li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.5vw 1.5vw;
    text-decoration: none;
  }
  
  li a:hover{
    transform: scale(1.1);
    color: rgb(0, 0, 0);
    text-shadow: -2px 0 orange, 0 2px orange, 2px 0 orange, 0 -2px orange;
    }
    
    .active {
      text-shadow: -2px 0 orange, 0 2px orange, 2px 0 orange, 0 -2px orange;}