body{
  background-color: black;
  color: white;
}
.d{
  margin-top: 2vw;
  position: relative;
  padding: 0.5vw;
 background-image: url('img/b1.jpg');
 color: rgb(0, 0, 255);
 text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  text-transform: uppercase;
  background-size: cover;
  width: 100%;
  height: 45vw;

}
h1.d{
  letter-spacing: 5px;
}

p.l{
  text-align: left;
  text-decoration: none;
    color: #2cbec6;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.7vw;
}
ul {
  z-index: 999999;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
 position: sticky;
  top: 0;
}

li {
  float: left;
  border-radius: 2vw;
}
.pad{
  padding-left: 2px;
}
li a, .dropbtn {
  display: inline-block;
  color: #bc930c;
  text-align: center;
  padding: 1.5vw 1.5vw;
  text-decoration: none;
}

#ho:hover, .dropbtn {
background-color: rgb(110, 94, 17);  transform: scale(1.1);
}

.active {
  z-index: 99999;
  background-color: rgb(25, 100, 18);
}