body{
  background-color: rgb(42, 103, 129);
  color: white;
  margin: 0;
}
#w1{
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: black;
}
.d{
  margin-top: 2vw;
  padding: 0.5vw;
 background-image: url('img/por1.jpg');
 color: rgb(0, 0, 255);
 text-align: center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  background-size: cover;
  width: 100%;
  height: 40vw;
}
h1.d{
  letter-spacing: 5px;
}

p.l{
  text-align: center;
  text-decoration: none;
    color: rgb(131, 97, 77);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.7vw;
}
ul {
  margin-left: 50vw;
  z-index: 999999;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
 position: sticky;
  top: 0;
}

li {
  float: left;
  border-radius: 2vw;
}
.pad{
  padding-left: 2px;
}
li a, .dropbtn {
  display: inline-block;
  color: #bc930c;
  text-align: center;
  padding: 1.5vw 1.5vw;
  text-decoration: none;
}

#ho:hover, .dropbtn {
background-color: rgb(110, 94, 17);  transform: scale(1.1);
}

.active {
  z-index: 99999;
  background-color: rgb(25, 100, 18);
}
.title {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}
.card {
  background-color: rgb(129, 132, 132);
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3{
  color: rgb(0, 5, 149);
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
#hh{
  background-image: url('img/GERMAN1.png');
}