*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; 
}


header {
  background-color: #443333;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 10vw ;
}

.logo{
  text-decoration: none;
  color: #a12c2c;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navigation a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 30px;
}

.navigation a:hover{
  color: #b68b0a;
}



.main {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto;
  background: url('img/nissan.jpg') 
  no-repeat;
  margin-bottom: -2vw;
  background-size: cover;
  background-position:center;
}


.social-icons a {
  color: #fff;
  font-size: 1.7em;
  padding-right: 30px;
}


.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.sales{
  width: 100%;
  height: 50vw;
  overflow: auto;
  overflow-x: hidden;
  background-image: url('img/altmi.webp');
  background-size: cover;
  background-position: center;
}
.tit{
  display: flex;
  justify-content: center;
  color: #892727;
  font-size: 2.2em;
  font-weight: 800;
  padding-top: 4vw;
}
table,td,th{
  width: 30vw;
  padding: 1vw;
  margin: 3vw 35vw;
  text-align: center;
  border: 2px solid rgb(247, 255, 2);
  border-collapse: collapse;
  justify-content: center;
}
th{
  font-size: large;
  background-color: #bdafafae;
  color: rgb(112, 61, 25);
}
td{
  color:white ;
}
li {
  margin-bottom: 1vw;
}
div.polaroid {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  display:inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 31%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1vw 1vw;
  transition: 0.5s ease;
}
.polaroid:hover{
  transform: scale(1.1);
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
